<ion-view view-title="Erosify">
    <ion-content class="gradient-bg" style="padding: 25px 10px">
        <div class="logo-container">
            <img src="img/logo.png" width="50%">
        </div>

        <div class="text-center profile-empty-container" ng-hide="loadedPics">
            <img src="img/profile_emptypic.png" width="100">
            <br />
            <button class="button button-clear add-pics-link" ng-click="showActionSheet()">Add photos to your profile</button>
        </div>

        <div class="add-pic-info" ng-hide="loadedPics">
            <span>We can't show you off until you add at least one photo of you.</span>
        </div>

        <div class="row addpics-title" ng-show="loadedPics">
            <div class="col">
                <span>Add up to <b>6</b> of your best photos</span>
            </div>
        </div>

        <div class="row row-pictures" ng-show="loadedPics">
            <div class="col-66" style="padding: 5px 0">
                <div class="col preview-pic-container">
                    <button ng-click="pics[0] ? removePic(0) : addPic(0)" ng-class="pics[0] ? 'ion-minus-round minus-btn' : 'ion-plus-round plus-btn'" class="button button-icon"></button>
                    <!--<span>1</span>-->
                    <img ng-src="{{pics[0] ? pics[0] : 'img/profile.png'}}" class="main-img-profile">
                    <div class="upload-progress-main" ng-style="{'width': progressW[0] + 'vw'}"></div>
                </div>
            </div>
            <div class="col-34" style="padding: 5px">
                <div class="col preview-pic-container">
                    <button ng-click="pics[1] ? removePic(1) : addPic(1)" ng-class="pics[1] ? 'ion-minus-round minus-btn' : 'ion-plus-round plus-btn'" class="button button-icon"></button>
                    <!--<span>2</span>-->
                    <img ng-src="{{pics[1] ? pics[1] : 'img/profile.png'}}" class="edit-img-profile">
                    <div class="upload-progress-two" ng-style="{'width': progressW[1] + 'vw'}"></div>
                </div>
                <div class="col preview-pic-container">
                    <button ng-click="pics[2] ? removePic(2) : addPic(2)" ng-class="pics[2] ? 'ion-minus-round minus-btn' : 'ion-plus-round plus-btn'" class="button button-icon"></button>
                    <!--<span>3</span>-->
                    <img ng-src="{{pics[2] ? pics[2] : 'img/profile.png'}}" class="edit-img-profile">
                    <div class="upload-progress-three" ng-style="{'width': progressW[2] + 'vw'}"></div>
                </div>
            </div>
        </div>

        <div class="row row-pictures" ng-show="loadedPics">
            <div class="col-33 preview-pic-container">
                <button ng-click="pics[3] ? removePic(3) : addPic(3)" ng-class="pics[3] ? 'ion-minus-round minus-btn' : 'ion-plus-round plus-btn'" class="button button-icon"></button>
                <!--<span>4</span>-->
                <img ng-src="{{pics[3] ? pics[3] : 'img/profile.png'}}" class="edit-img-profile">
                <div class="upload-progress-four" ng-style="{'width': progressW[3] + 'vw'}"></div>
            </div>
            <div class="col-33 preview-pic-container">
                <button ng-click="pics[4] ? removePic(4) : addPic(4)" ng-class="pics[4] ? 'ion-minus-round minus-btn' : 'ion-plus-round plus-btn'" class="button button-icon"></button>
                <!--<span>5</span>-->
                <img ng-src="{{pics[4] ? pics[4] : 'img/profile.png'}}" class="edit-img-profile">
                <div class="upload-progress-four" ng-style="{'width': progressW[4] + 'vw'}"></div>
            </div>
            <div class="col-33 preview-pic-container">
                <button ng-click="pics[5] ? removePic(5) : addPic(5)" ng-class="pics[5] ? 'ion-minus-round minus-btn' : 'ion-plus-round plus-btn'" class="button button-icon"></button>
                <!--<span>6</span>-->
                <img ng-src="{{pics[5] ? pics[5] : 'img/profile.png'}}" class="edit-img-profile">
                <div class="upload-progress-four" ng-style="{'width': progressW[5] + 'vw'}"></div>
            </div>
        </div>

        <div class="row bottom-btn" ng-show="loadedPics">
            <div class="col">
                <button class="button button-login" ng-click="continueToMatching()">Start Dating</button>
            </div>
        </div>

    </ion-content>
</ion-view>