<ion-header-bar align-title="left">
    <div class="buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>
    <div class="top-bar-logo">
        <img src="img/logo-green.png" width="110">
    </div>
</ion-header-bar>
<ion-content class="match-container">
    <div class="photo-section-container">
        <div class="top-name-container">
            <div class="col-20">
                <a class="button button-icon icon ion-ios-star-outline" style="float: right"></a>
            </div>
            <div class="col-60">
                <span style="font-size: 28px;position: relative;top: 16px;margin-right: 5px;">{{profile.name}}</span>
                <span style="font-size: 28px;position: relative;top: 16px;"><b>{{profile.age}}</b></span>
            </div>
            <div class="col-20" style="display: flex">
                <div ng-show="profile.verified" class="verified-icon"></div>
                <div ng-show="profile.online" class="online-icon"></div>
            </div>
        </div>

        <div class="user-pic-container">
            <div class="side-columns-match">
                <a class="button button-icon" style="padding: 0; position: absolute; bottom: 50%; margin-bottom: 20px">
                    <div class="btn-undo-action"></div>
                </a>
            </div>

            <div class="circular-pic-container"></div>

            <div class="side-columns-match">
                <a class="button button-icon" style="padding: 0; position: absolute; bottom: 50%; margin-bottom: 20px;right: 10px;">
                    <div class="btn-skip-profile"></div>
                </a>
            </div>
        </div>

        <div class="match-bottom-section">
            <div class="side-columns-match"></div>

            <div class="btn-likedis-container">
                <div style="width: 50%; height: 100%">
                    <div class="button-dislike" ontouchstart="" ng-click="loginWithFacebook()">
                        <i class="icon ion-android-close"></i>
                    </div>
                </div>
                <div style="width: 50%; height: 100%">
                    <div class="button-like" ontouchstart="" ng-click="loginWithFacebook()">
                        <i class="icon ion-android-favorite-outline"></i>
                    </div>
                </div>
            </div>

            <div class="side-columns-match"></div>
        </div>
    </div>

    <div class="info-section-container">
        <div class="row">
            <a class="button button-icon" style="padding: 0">
                <div class="btn-profile"></div>
            </a>

            <div class="col" style="margin-top: 25px">
                <div class="row location-row">
                    <i class="icon ion-location"></i>
                    <span>{{profile.location}}</span>
                </div>
                <div class="row location-row">
                    <img src="img/language.svg" width="17">
                    <span>{{profile.languages}}</span>
                </div>
            </div>
            <a class="button button-icon" style="padding: 0">
                <div class="btn-more-pics"></div>
            </a>
        </div>
        <div class="row" style="padding-top: 0">
            <div class="col">
                <span style="font-family: LeituraSansBold">About Me</span>
                <p class="about-me-desc">
                    {{profile.aboutMe}}
                </p>
            </div>
        </div>
        <div class="row" style="padding-top: 0">
            <div class="col">
                <span style="font-family: LeituraSansBold">Work & Education</span>
                <p class="about-me-desc">
                    {{profile.work_education}}
                </p>
            </div>
        </div>
    </div>
</ion-content>
