<ion-view view-title="Erosify">
    <ion-content class="login-container">
        <div class="logo-container">
            <img src="img/logo.png" width="50%">
        </div>
        <div class="login-inputs-container">
            <form>
                <div class="text-center" style="margin-bottom: 40px">
                    <span>Enter the same info you used to set up your account. We'll send you details how to create a new password.</span>
                </div>
                <div class="group" style="margin-bottom: 20px">
                    <input type="email" ng-model="user.username" required>
                    <span class="bar-input"></span>
                    <label class="left-labels">Your email</label>
                </div>
                <div class="button-login" ontouchstart="" ng-click="sendEmail()">
                    SEND EMAIL
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
