<ion-header-bar align-title="left">
    <div class="buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>
    <div class="title-views">
        <span>Messages</span>
    </div>
</ion-header-bar>
<ion-content class="gradient-bg">
    <div class="row messages-row" ontouchstart="" ng-repeat="m in messages" ng-click="goToPage('app/messages/' + m.user)">
        <div class="col-25">
            <img src="img/avatar.png">
        </div>
        <div class="col">
            <div class="row">
                <span class="msg-user">{{m.user}}</span>
                <i class="icon ion-checkmark-circled verified-icon" ng-show="m.verified" style="font-size: 14px;color: #016501;margin-right: 0;margin-left: 6px;margin-top: 0"></i>
                <div class="status-icon-sm" ng-class="m.online ? 'online' : ''" style="margin: 4px 0 0 8px;"></div>
            </div>
            <span class="msg-lastmsg" ng-class="m.unreadMsg ? 'unread-msg' : ''">{{m.lastMsg}}</span>
        </div>
        <div class="text-right">
            <i class="icon" ng-class="m.fav ? 'favorite-msg ion-android-star' : 'no-favorite-msg ion-android-star-outline'"></i>
            <br />
            <span class="msg-date">{{m.date}}</span>
        </div>
    </div>
</ion-content>

