<div class="text-center">
    <img src="img/logo-green.png" width="110">

    <p class="match-popup-headline">God Eros has found a new match for you!</p>

    <img class="match-popup-pic" ng-src="{{userProfile.photos[0]}}" ng-class="userProfile.gender == 'Female' ? 'female' : 'male'">
    <img class="match-popup-pic" ng-src="{{currentProfile.photos[0]}}" ng-class="currentProfile.gender == 'Female' ? 'female' : 'male'">

    <p class="text-center" style="font-size: 12px">You and <b>{{ currentProfile.name }}</b> have liked each other.</p>

    <button class="button icon-left ion-ios-chatboxes-outline button-block button-outline button-balanced" ng-click="sendMessageToUser()">
        Send a Message
    </button>

    <button class="button icon-left ion-ios-heart-outline button-block button-outline button-stable" ng-click="closePopup()">
        Continue Searching
    </button>
</div>