<div class="notification-container animated" ng-if="notification.visible" ng-class="notification.visible ? 'fadeInUp' : 'fadeOutDown'" ng-click="viewNotification()">
    <div class="row" style="padding-top: 3px">
        <div class="col-20">
            <div class="notif-photo" ng-style="{'background-image':'url(' + notification.picture + ')'}"></div>
        </div>
        <div class="col-80">
            <p><b>{{notification.name}}</b> {{" " + notification.msg}}</p>
        </div>
    </div>
</div>