<ion-view view-title="Erosify">
    <ion-content class="privacy-container">
        <div class="facebook-button-container">
            <button class="button button-positive" style="background-color: #3B5998">
                <i class="icon ion-social-facebook" style="position: relative; right: 25px;"></i><span> Sign in with Facebook </span>
            </button>
        </div>
        <div class="privacy-header">
           <img src="img/lock.png"><span>We take your privacy seriously</span>
        </div>
        <hr>
        <div class="privacy-text">
            <span>We do not post anything to Facebook without your explicit permission.</span>
            <br>
            <br>
            <span>Other users don't know if you've liked them unless they like you back.</span>
            <br>
            <br>
            <span>Other users can't contact you unless you've already been matched.</span>
            <br>
            <br>
            <span>Your exact location is not show to other users.</span>
        </div>

    </ion-content>
</ion-view>