<ion-header-bar align-title="left">
    <div class="buttons">
        <button id="profile-menu-icon" class="button button-icon button-clear ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
    </div>
</ion-header-bar>
<ion-content ng-hide="loadingProfile">
    <div class="myprofile-pics-bg">
        <button class="button button-icon button-clear ion-chevron-left" ng-click="previousPic()" ng-hide="slideIndex == 0"></button>
        <button class="button button-icon button-clear ion-chevron-right" ng-click="nextPic()" ng-hide="slideIndex == user.photos.length - 1"></button>

        <ion-slide-box style="height: 100%;" on-slide-changed="slideChanged($index)" show-pager="{{user.photos.length <= 10}}">
            <ion-slide ng-repeat="imageUrl in user.photos">
                <div class="pic-container">
                    <ion-spinner class="default-spinner" ng-show="loadingProfilePics"></ion-spinner>
                    <img ng-src="{{imageUrl}}" ng-load-image="imageLoaded()" ng-hide="loadingProfilePics">
                </div>
            </ion-slide>
        </ion-slide-box>
    </div>

    <div class="profile-info-bg">
        <div class="row">
            <div class="col" style="display: inline-flex">
                <a class="button button-icon icon" ng-class="user.favorite ? 'match-favorite ion-ios-star' : 'ion-ios-star-outline'" ng-click="addRemoveFavorite()"></a>
                <span class="profile-name">
                    <span style="font-family: LeituraSansBold">{{user.name}}</span>, {{user.age}}
                </span>
                <!--<div class="verified-icon-profile"></div>-->
                <i class="icon ion-checkmark-circled verified-icon" style="margin-top: -2px;margin-left: 8px;margin-right: 0" ng-show="user.verified == 1"></i>
                <div class="online-icon-profile" ng-show="user.status == 1"></div>

                <button class="button button-icon button-clear ion-more view-more-btn" ng-click="popover.show($event)"></button>
            </div>
        </div>

        <div class="row row-divider profile-desc-icon" style="margin-top: -13px">
            <div class="col">
                <p class="about-me-desc">
                    <i class="icon ion-location"></i>
                    <b>{{user.location}} (~ {{user.distance}} miles away)</b>
                </p>
            </div>
        </div>
        <div class="row profile-desc-icon" ng-show="user.aboutme">
            <div class="col">
                <i class="icon ion-person"></i>
                <b>About Me</b>
                <p class="about-me-desc">
                    {{user.aboutme}}
                </p>
            </div>
        </div>
        <div class="row profile-desc-icon" ng-show="user.work">
            <div class="col">
                <i class="icon ion-briefcase"></i>
                <b>Work</b>
                <p class="about-me-desc">
                    {{user.work}}
                </p>
            </div>
        </div>
        <div class="row profile-desc-icon" ng-show="user.education">
            <div class="col">
                <i class="icon ion-university"></i>
                <b>Education</b>
                <p class="about-me-desc">
                    {{user.education}}
                </p>
            </div>
        </div>
        <div class="row row-divider profile-desc-icon">
            <div class="col">
                <i class="icon ion-earth"></i>
                <b>Languages</b>
                <p class="about-me-desc">
                    {{user.languages}}
                </p>
            </div>
        </div>
        <div class="row row-divider" ng-show="numConnections > 0">
            <div class="col">
                <b style="position: absolute;">{{numConnections}} Common Connections</b>
                <ion-slide-box show-pager="true">
                    <ion-slide ng-repeat="section in commonFriends">
                        <div class="row" ng-repeat="row in section">
                            <div class="col-33 text-center" ng-repeat="m in row">
                                <img class="prof-pic-match" ng-src="{{'http://graph.facebook.com/' + m.facebook_id + '/picture?type=large'}}" width="100%">
                                <br>
                                <div style="display: inline-flex; text-align: center">
                                    <span class="match-user" style="font-size: 15px">{{m.name}}</span>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <div class="row profile-desc-icon">
            <div class="col">
                <i class="icon ion-flame"></i>
                <b>Erosify Score&reg;</b>
                <p class="about-me-desc">
                    Current score: <b>{{user.score}}</b>
                </p>
                <p class="about-me-desc">
                    Popularity rank: <b>1642</b>
                </p>
            </div>
        </div>
        <div class="row profile-desc-icon">
            <div class="col">
                <i class="icon ion-ribbon-b"></i>
                <b>Premium Membership</b>
                <p class="about-me-desc" ng-show="user.premium_member == 0">
                    Not activated
                </p>
                <p class="about-me-desc" ng-show="user.premium_member == 1">
                    Activated
                </p>
            </div>
        </div>
    </div>
</ion-content>

<ion-content class="profile-info-bg" ng-show="loadingProfile">
    <div class="text-center def-spinner-container">
        <ion-spinner class="default-spinner"></ion-spinner>
    </div>
</ion-content>

<div class="row btns-likedislike-cont" ng-hide="loadingProfile">
    <div class="row">
        <div class="col-33">
            <button class="button button-icon icon ion-android-favorite-outline button-like-profile" ng-disabled="profileLiked" ng-click="likeUserProfile()"></button>
        </div>
        <div class="col-33 text-center">
            <button class="button button-icon icon ion-ios-chatboxes-outline button-msg-profile" ng-click="sendMessageToUser()"></button>
        </div>
        <div class="col-33">
            <button class="button button-icon icon ion-close-round button-dislike-profile" ng-disabled="profileDisLiked" ng-click="dislikeUserProfile()"></button>
        </div>
    </div>
</div>

<script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-content>
            <button class="button button-full"  ng-click="openReportDialog()">Report this user</button>
        </ion-content>
    </ion-popover-view>
</script>

<div ng-include="'templates/notification_msg.html'"></div>