<ion-header-bar align-title="left">
  <div class="buttons">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </div>
  <div class="title-views">
    <span>Profile Visitors</span>
  </div>
</ion-header-bar>
<ion-content class="gradient-bg">
    <ion-refresher on-refresh="getListOfVisitors()" spinner="ios"></ion-refresher>
    <div style="padding-top: 15px" ng-hide="loadingVisitors">
        <div class="row matches-row" ng-repeat="row in myVisitors">
            <div class="col-33 text-center" ng-repeat="m in row">
                <ion-spinner class="default-spinner" ng-show="loadingImg"></ion-spinner>
                <a class="button button-icon" style="width: 100%; position: relative" ng-click="goToProfile(m.id)" ng-hide="loadingImg">
                    <img class="prof-pic-match" ng-src="{{m.photos[0]}}" ng-load-image="imageLoaded()">
                    <div ng-show="m.unread == 1" class="new-visitor"><span>NEW</span></div>
                </a>
                <br>
                <div style="display: inline-flex; text-align: center">
                    <div class="status-icon-small online" ng-show="m.status == 1"></div>
                    <span class="match-user">{{m.name}}</span>
                    <i class="icon ion-checkmark-circled verified-icon-list" ng-show="m.verified == 1"></i>
                </div>
                <br>
                <span class="match-date">{{m.date}}</span>
            </div>
        </div>

        <div class="row no-data-container" ng-show="noResults">
            <div class="col">
                <i class="icon ion-sad" style="font-size: 50px"></i>
                <p class="text-center">No one around here yet.</p>
                <p class="text-center">Don't worry, soon people are going to start noticing about you!</p>
            </div>
        </div>

        <div class="text-center def-spinner-container" ng-show="loadingVisitors">
            <ion-spinner class="default-spinner"></ion-spinner>
        </div>
    </div>
</ion-content>
<!--<div class="bar bar-footer row" ng-hide="noResults">-->
    <!--<div class="text-left footer-text col-33">Show users:</div>-->
    <!--<button class="button button-clear col-33" style="color: white; font-weight: bold; font-size: 18px">Online</button>-->
    <!--<div class="div-divider"></div>-->
    <!--<button class="button button-clear col-33" style="color: whitesmoke;font-size: 18px;">All</button>-->
<!--</div>-->

<div ng-include="'templates/notification_msg.html'"></div>