@font-face {
    font-family: LeituraSansGrot;
    src: url("../fonts/LeituraSans-Grot%201.otf") format("opentype");
}

@font-face {
    font-family: LeituraSansGrot2;
    src: url("../fonts/LeituraSans-Grot%202.otf") format("opentype");
}

@font-face {
    font-family: LeituraSansGrot3;
    src: url("../fonts/LeituraSans-Grot%203.otf") format("opentype");
}

@font-face {
    font-family: LeituraSansBold;
    src: url("../fonts/LeituraSans-Grot%204.otf") format("opentype");
}

html, body, h2 {
    font-family: LeituraSansGrot;
}

p {
    text-align: justify;
    margin: 0;
}

.home-container {
    font-family: LeituraSansGrot;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url("../img/bg-img-couple.png") no-repeat 50%;
    background-size: cover;
    letter-spacing: 1px;
    padding: 25px 25px 15px;
}

.login-container {
    font-family: LeituraSansGrot;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 40px 25px;
    letter-spacing: 1px;
}

.gradient-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#65beb3+0,f75f7c+100 */
    background: #65beb3; /* Old browsers */
    background: -moz-linear-gradient(top,  #65beb3 0%, #f75f7c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #65beb3 0%,#f75f7c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #65beb3 0%,#f75f7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65beb3', endColorstr='#f75f7c',GradientType=0 ); /* IE6-9 */
}

.home-container .logo-container {
    padding: 10px 25px 0;
    position: absolute;
    top: 10%;
    font-size: 17px;
}

.login-container .logo-container {
    padding-top: 40px;
}

.logo-container {
    margin-bottom: 35px;
    text-align: center;
}

.btn-link-fb {
    color: white!important;
    font-family: LeituraSansGrot!important;
}

.btn-link-fb b {
    font-family: LeituraSansGrot3;
}

.get-started-btn {
    background: rgba(120, 54, 67, 0.78);
    color: whitesmoke;
    border-radius: 0;
    position: absolute;
    bottom: 140px;
    padding-top: 3px;
    text-transform: uppercase;
    font-family: LeituraSansGrot;
    width: 100%;
    height: 55px;
    font-size: 19px;
    opacity: 0.92;
    transition: background-color 0.2s linear;
}

.get-started-btn-fb {
    background: rgba(120, 54, 67, 0.78);
    color: whitesmoke;
    border-radius: 0;
    position: absolute;
    bottom: 40px;
    padding-top: 3px;
    text-transform: uppercase;
    font-family: LeituraSansGrot;
    width: 100%;
    height: 55px;
    font-size: 19px;
    opacity: 0.92;
    transition: background-color 0.2s linear;
}

.get-started-btn-fb i {
    float: left;
    position: relative;
    bottom: 1px;
    left: 10px;
}

.get-started-btn:hover, .get-started-btn-fb:hover, .button-login:hover {
    color: white;
}

.get-started-btn.activated, .button-login.activated, .get-started-btn-fb.activated {
    background: rgba(82, 38, 38, 0.78);
}

.bottom-link-home {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -107px;
}

.bottom-link-home a {
    text-decoration: none;
    color: white;
    font-family: LeituraSansBold;
}

.divider-home {
    width: 100%;
    height: 1px;
    background: rgba(211, 211, 211, 0.5);
    margin-bottom: 15px;
}

.btn-back {
    color: white;
    font-family: LeituraSansGrot;
    padding-left: 2px;
    padding-bottom: 25px;
}

.btn-back:hover {
    color: white;
}

.button-login {
    background: rgba(120, 54, 67, 0.78);
    color: whitesmoke;
    border-radius: 0;
    padding-top: 3px;
    text-transform: uppercase;
    font-family: LeituraSansGrot;
    width: 100%;
    height: 55px;
    font-size: 19px;
    opacity: 0.92;
}

.facebook-button {
    margin-bottom: 5px;
}

.button-login i {
    font-size: 25px;
    position: relative;
    bottom: 5px;
}

.button-login span {
    position: relative;
    bottom: 8px;
    left: 5px;
}

.button-container a {
    text-decoration: none;
    color: white;
    font-family: LeituraSansBold;
}

.button-container {
    margin-top: 7%;
}


/* basic stylings ------------------------------------------ */
.login-inputs-container 		{
    font-family: LeituraSansGrot;
    width:100%;
    padding:10px 0;
    box-sizing:border-box;
}

/* form starting stylings ------------------------------- */
.group 			  {
    position:relative;
    margin-bottom: 40px;
}
.group input {
    font-size: 18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid white;
    color: white;
    background: transparent;
}
.group input:focus 		{ outline:none; }

.group label {
    color: white;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    margin-left: -50px;
    left: 50%;
    top: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

label.left-labels {
    left: 5px;
    margin-left: 0;
}

/* active state */
.group input:focus ~ label, .group input:not(.ng-empty) ~ label {
    top:-20px;
    font-size:14px;
    /*margin-left: -40px;*/
}

/* BOTTOM BARS ================================= */
.bar-input 	{ position:relative; display:block; width:300px; }
.bar-input:before, .bar-input:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar-input:before {
    left:50%;
}
.bar-input:after {
    right:50%;
}

/* active state */
.group input:focus ~ .bar-input:before, .group input:focus ~ .bar-input:after {
    width:50%;
}

.signup-form .group {
    margin-bottom: 25px;
}

ion-item i {
    margin-right: 10px;
    font-size: 20px;
}

.item-icon-left ion-spinner {
    float: left;
    margin-left: -2.7em;
    margin-top: -5px;
}

.spinner svg {
    width: 28px;
    height: 28px;
    stroke: #999;
    fill: #999;
}

.spinner.spinner-ios svg {
    stroke: white;
    fill: white;
}

.loading-container .loading {
    padding: 10px 20px 10px 15px;
}

.item-icon-left {
    padding-left: 45px;
    margin-top: 12px;
}

.item-no-icon-left {
    padding-left: 5px;
}

.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.col-27 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 27%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 27%;
    -ms-flex: 0 0 27%;
    flex: 0 0 27%;
    max-width: 27%;
}

.col-30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    padding-left: 10px;
}

.col-45 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
    padding-right: 10px;
}

.col-70 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

.combobox {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid white;
    margin-bottom: 25px;
}

.combobox:after {
    position: relative;
    top: 15px;
    right: 5px;
    float: right;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: white;
    content: "";
    pointer-events: none;
}

.combobox select {
    font-family: LeituraSansGrot;
    color: white;
    font-size: 18px;
    padding: 5px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.terms {
    text-align: center;
    font-size: 11px;
    margin-bottom: 45px;
    margin-top: 10px;
}

.bottom-link {
    font-size: 16px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -107px;
}

.login-container .scroll {
    transform: none!important;
}

.verified-profile-icon {
    position: relative;
    left: 45px;
    top: 72px;
    width: 18px!important;
}

.facebook-button-container{
    padding: 35px 35px 0 35px;
}

.button-positive {
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.button-positive span {
    font-family: Arial;
    font-weight: 600;
    font-size: 14px;
    margin-top: 4px;
    text-align: center;
}

.privacy-header {
    padding: 25px 45px 5px 45px;
    height: 70px;
}

.privacy-header img {
    float: left;
    margin-left: -10px;
    margin-right: 5px;
    position: relative;
    bottom: 10px;
}

.privacy-header span {
    font-size: 23px;
    color: #929292;
    margin-top: 10px;
}

hr {
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    border-bottom: 1px;
    color: #929292;
}

.privacy-text {
    padding: 10px 45px 0 45px;
}

.privacy-text span {
    color: #929292;
    font-size: 13px;
}

.forgot-password-link {
    text-align: right;
    margin-bottom: 15px;
    margin-top: 5px;
}

.forgot-password-link a {
    color: white;
    text-decoration: none;
}

.match-container {
    font-family: LeituraSansGrot;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url("../img/bg-match.jpg") no-repeat 50%;
    background-size: cover;
}

/* iPhone 6 Plus */
@media only screen and (min-height: 736px) {
    .info-section-container {
        height: 40%!important;
    }
}

/* iPhone 6 */
@media only screen and (min-height: 667px) {

}

/* iPhone 5 */
@media only screen and (max-height: 568px) {
    .info-section-container {
        padding: 35px 15px!important;
    }
    .btn-likedis-container {
        margin-top: 10px!important;
    }
}

.info-section-container {
    padding: 45px 15px;
    height: 45%;
    background: url("../img/image_profile.png") no-repeat 50%;
}

.match-container .scroll {
    height: 100%;
    transform: none!important;
}

.photo-section-container {
    width: 100%;
    height: 55%;
}

.top-name-container {
    height: 15%;
    text-align: center;
    display: flex;
}

.btn-profile {
    background: url("../img/profile.svg") no-repeat;
    float: left;
    width: 41px;
    height: 41px;
}

.btn-more-pics {
    background: url("../img/images.svg") no-repeat;
    float: right;
    width: 41px;
    height: 41px;
}

.match-no-favorite {
    color: white!important;
}

.match-favorite {
    color: #FFB932!important;
}

.online-icon {
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 5px;
    margin-top: 18px;
    margin-left: 8px;
    position: absolute;
    top: 0;
    right: 10px;
}

.online-icon-hidden {
    width: 10px;
    height: 10px;
    background: rgba(128, 128, 128, 0.71);
    border-radius: 5px;
    margin-top: 18px;
    margin-left: 8px;
    position: absolute;
    top: 0;
    right: 10px;
}

.verified-icon {
    font-size: 22px;
    color: #00BF61;
    margin-top: 13px;
    /*width: 16px;*/
    /*height: 12px;*/
    /*background: url("../img/verified.svg") no-repeat;*/
    /*margin: 17px 5px 0 5px;*/
}

.verified-icon-matching {
    font-size: 22px;
    color: #00BF61;
    margin-left: 7px;
    position: absolute;
    top: 12px;
}

.name-age-matching {
    font-size: 28px;
    position: relative;
    top: 16px;
    margin-right: 5px;
}

.circular-pic-container {
    width: 70%;
    height: 100%;
    border-radius: 50%;
    /*background: url("../img/profile.png") center;*/
    background: rgba(165, 165, 165, 0.70);
    background-size: cover;
    box-shadow: 0 0 15px #000;
}

.button-like {
    width: 110px;
    height: 50px;
    border-radius: 30px;
    float: left;
    background: #00BF61;
    text-align: center;
    margin-left: 10px;
    z-index: 10;
    color: whitesmoke;
}

.button-dislike {
    width: 110px;
    height: 50px;
    border-radius: 30px;
    float: right;
    background: #FF4842;
    text-align: center;
    margin-right: 10px;
    z-index: 10;
    color: whitesmoke;
}

.btn-skip-profile {
    background: url("../img/skip.svg") no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;
}

.btn-undo-action {
    background: url("../img/back.svg") no-repeat;
    background-size: contain;
    width: 50px;
    height: 49px;
    position: relative;
    left: 10px;
}

.user-pic-container {
    height: 70%;
    display: flex;
}

.btn-likedis-container {
    width: 70%;
    height: 100%;
    display: flex;
    margin-top: 20px;
}

.match-bottom-section {
    height: 15%;
    display: flex;
}

.side-columns-match {
    width: 15%;
    height: 100%;
}

ion-side-menu .item, ion-side-menu .item-content, ion-side-menu .menu, ion-side-menu {
    background-color: #161616 !important;
    border-color: black !important;
    color: white !important;
}

.item h2 {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.item b {
    font-size: 13px;
    position: relative;
    bottom: 2px;
}

.item .ion-android-favorite-outline:before {
    color: #E6423C;
    font-weight: bold;
}

.item .ion-ios-chatbubble-outline:before {
    color: #019557;
    font-weight: bold;
}

i.ion-ios-chatbubble-outline {
    margin-left: 25px;
}

.item .ion-gear-a {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 15px;
}

.ion-navicon, .bar.bar-stable .title {
    color: white!important;
}

.bar.bar-stable, ion-header-bar {
    background: #161616 none!important;
    color: white!important;
}

.messages-row {
    height: 95px;
    border-bottom: 1px solid rgba(211,211,211,0.3);
    padding: 15px;
}

.messages-row img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.row + .row {
    margin-top: 0;
    padding-top: 10px;
}

.msg-date {
    font-size: 11px;
    position: relative;
    top: 7px;
}

.no-favorite-msg {
    font-size: 23px;
    color: white;
}

.favorite-msg {
    font-size: 23px;
    color: #FFB932;
}

.msg-user {
    font-size: 18px;
    font-weight: bold;
}

.status-icon-sm {
    width: 8px;
    height: 8px;
    border-radius: 6px;
    margin: 5px 0 0 5px;
}

.status-icon-small {
    width: 8px;
    height: 8px;
    border-radius: 6px;
    margin: 5px 7px 0 0;
}

.online {
    background: green;
}

.offline {
    background: lightgray;
}

.msg-lastmsg {
    color: white;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 180px;
    display: block;
    overflow: hidden;
}

@media only screen and (min-width: 320px) {
    .msg-lastmsg {
        width: 160px;
    }
}

@media only screen and (min-width: 375px) {
    .msg-lastmsg {
        width: 185px;
    }
}

@media only screen and (min-width: 414px) {
    .msg-lastmsg {
        width: 210px;
    }
}

.messages-row .row {
    padding-left: 0;
}

.unread-msg {
    font-family: LeituraSansBold;
}

.messages-row.selected {
    background-color: rgba(211, 211, 211, 0.4);
}

.messages-row .col-25 {
    max-width: 70px;
}

.messages-row .text-right {
    margin-right: 5px;
}

.top-bar-logo {
    position: absolute;
    left: 50%;
    margin-left: -55px;
}

.bar-header a.ion-android-search {
    position: absolute;
    right: 3px;
    bottom: 5px;
    color: white;
}

.tabs .tab-item .badge.badge-assertive, .badge.badge-assertive {
    padding: 5px 10px;
    top: 13px;
    right: 25px;
    font-size: 15px;
}

.messages-row .badge.badge-assertive {
    position: relative;
    right: 3px;
}

ion-header-bar .ion-android-search:before {
    font-size: 27px!important;
}

.ion-navicon:before {
    font-size: 38px!important;
}

.ion-navicon {
    display: block!important;
}

.location-row {
    padding: 0 20px!important;
    margin-top: 0!important;
}

.location-row .ion-location {
    font-size: 25px;
}

.location-row span {
    font-size: 18px;
    margin: 5px 0 0 8px;
}

.top-name-container .button-icon .icon:before, .button-icon.icon:before {
    font-size: 25px;
}

.pointer_events_none {
    color: black!important;
}

.title-views {
    width: 100%;
    margin-right: 39px;
    margin-top: 8px;
    text-align: center;
    font-size: 20px;
    top: 12px;
    font-weight: bold;
}

.match-user {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    color: #382C2C;
}

.match-date {
    font-size: 12px;
    color: #382C2C;
}

.status-icon-md {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 3px 0 0 5px ;
}

.matches-row {
    margin-bottom: 5%;
}

.verified-profile-icon-match {
    width: 24px!important;
    position: absolute;
    right: 25px;
    top: 57px;
}

.prof-pic-match {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

.new-visitor {
    background: #FD4741;
    border-radius: 13px;
    color: whitesmoke;
    font-size: 10px;
    width: 30px;
    height: 17px;
    text-align: center;
    font-family: LeituraSansBold;
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -15px;
}

.new-visitor span {
    position: relative;
    bottom: 10px;
}

.footer-text {
    color: black;
    font-size: 18px;
    padding: 8px;
}

.bar-footer {
    background: rgba(195, 140, 155, 0.89);
}

.footer-option {
    font-weight: 500;
    font-size: 20px;
}

.div-divider {
    height: 25px;
    border: 1px solid white;
    margin-top: 5px;
}

.ion-chevron-left {
    color: white;
}

.ion-android-send {
    width: 45px;
    min-height: 45px!important;
    border-radius: 50%;
    color: #00bdb3!important;
    position: fixed;
    right: 12px;
    bottom: 7px;
}

.chat-inputbox-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 6px;
    display: flex;
}

.user-pic-sm {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.50);
    position: relative;
    bottom: 2px;
}

.chat-title-top {
    margin-left: 8px;
    font-size: 18px;
    margin-top: 3px;
    font-weight: bold;
}

.chat-title-top .row {
    padding: 0 0 0 2px;
    font-size: 10px;
    position: relative;
    bottom: 3px;
    color: #AFABAB;
}

.chat-inputbox {
    width: 100%;
    height: 37px!important;
    border-radius: 7px 0 7px 7px;
    padding: 7px 50px 7px 45px!important;
    font-family: LeituraSansGrot;
    font-weight: bold;
}

.test {
    position: relative;
    width: 97%;
    height: 45px;
    padding: 0;
    background: #FFFFFF;
    -webkit-border-radius: 7px 0 7px 7px;
    -moz-border-radius: 7px 0 7px 7px;
    border-radius: 7px;
    margin: 2px 0;
}

.test .item.item-input {
    border: none;
    background: none;
}

.chat-inputbox-container .ion-android-happy {
    color: gray;
    position: absolute;
    z-index: 2;
    width: 45px;
    height: 40px;
    padding: 0;
    bottom: 3px;
}

.top-name-container .button-icon .icon:before, .button-icon.icon:before {
    font-size: 28px;
}

.chat-bubble-left {
    max-width: 75%;
    text-align: left;
    background: lightgray;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

.chat-bubble-left::before {
    width: 0;
    height: 0;
    border-top: 20px solid red;
    border-left: 20px solid transparent;
}

.chat-bubble-right {
    max-width: 80%;
    text-align: right;
    background: #1889B6;
    margin-left: 20%;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.footer-chat {
    background: #FF6281!important;
    height: 60px;
}

a.ion-android-send:before {
    margin-top: 5px!important;
}

.profile-pic-chat {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin: 5px 0 5px 10px;
}

.left-msg {
    padding: 0 10px 5px !important;
    margin-top: 5px;
}

.right-msg {
    padding: 5px 15px !important;
}















/* Chat styles */

.messages {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-content: center !important;
    -ms-flex-line-pack: center !important;
    align-content: center !important;
    -webkit-box-align: center !important;
    -moz-box-align: center !important;
    -ms-flex-align: center !important;
}
.messages .message {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

.messages.other .message {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
}
.messages.other .message.slide-right {
    -webkit-transform: translate3d(120px, 0, 0) !important;
    -moz-transform: translate3d(120px, 0, 0) !important;
    transform: translate3d(120px, 0, 0) !important;
}
.messages.other span {
    color: black !important;
    background-color: rgb(226, 226, 226) !important;
    font-weight: bold;
}

span.msg {
    background: #1889B6 !important;
    display: inline-block !important;
    color: white !important;
    padding: 5px 10px !important;
    border-radius: 5px !important;
    text-align: left !important;
    max-width: 240px !important;
    font-weight: bold!important;
}

.left-msg span:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 18px 16px 0;
    border-color: transparent #1889B6;
    display: block;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
}

.right-msg span:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 0 18px 16px;
    border-color: transparent rgb(226, 226, 226);
    display: block;
    width: 0;
    z-index: 1;
    right: 8px!important;
    top: 5px;
}

.sm-time-chat {
    font-size: 10px;
    float: right;
    font-weight: 100!important;
}

.date-divider {
    /*font-family: LeituraSansBold;*/
    font-size: 11px;
    position: relative;
    right: 50%;
    margin-right: -35px;
    margin-top: 7px;
    margin-bottom: 3px;
}

.myprofile-info-bg {
    width: 100%;
    background: #D4D4D4;
    color: #3E3E3E;
    padding: 5px;
}

.myprofile-pics-bg {
    width: 100%;
    height: 60%;
    color: white;
    background: #D4D4D4;
    overflow: scroll;
}

.myprofile-pics-bg button.ion-chevron-left, .myprofile-pics-bg button.ion-chevron-right {
    font-size: 30px;
    position: absolute;
    top: 25%;
    z-index: 4;
}

.myprofile-pics-bg button.ion-chevron-left {
    left: 10px;
}

.myprofile-pics-bg button.ion-chevron-right {
    right: 10px;
}

.myprofile-pics-bg img {
    width: 101%;
}

.myprofile-pics-bg .slider-pager .slider-pager-page {
    color: #BF3636!important;
}

.profile-name {
    font-size: 20px;
}

.pic-container {
    height: 100%;
    background-color: #161616!important;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    background-position: 50%!important;
}

.pic-container ion-spinner {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 40%;
}

.matching-pic-container {
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.verified-icon-profile {
    width: 16px;
    height: 12px;
    background: url("../img/verified.svg") no-repeat;
    margin-left: 10px;
    margin-top: 2px;
}

.online-icon-profile {
    width: 10px;
    height: 10px;
    background: #0EB50E;
    border-radius: 5px;
    margin-left: 8px;
    margin-top: 4px;
}

.myprofile-info-bg i {
    font-size: 22px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.myprofile-info-bg p {
    margin-top: 5px;
}

.ion-edit:before {
    font-size: 25px!important;
    line-height: 30px!important;
}

.settings-bg {
    background: #D4D4D4;
    padding: 15px;
}

.button-logout {
    width: 100%;
    height: 45px;
    background: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    color: gray;
    font-family: LeituraSansGrot3;
    transition: background-color 0.2s linear;
}

.button-logout:active {
    background: #e4e4e4;
    -webkit-tap-highlight-color: #e4e4e4;
}
.settings-bg .list {
    color: gray;
}

.item-divider {
    color: gray;
    font-family: LeituraSansGrot3;
}

.people-nearby-icon {
    font-size: 20px;
    position: relative;
    top: 3px;
    right: 5px;
}

.ion-android-options:before {
    font-size: 25px!important;
    line-height: 30px!important;
    color: whitesmoke;
}

.loading-nearby svg {
    width: 120px;
    height: 120px;
    stroke: #444;
    fill: #444;
    margin-top: 130px;
}

.label-searching-gps {
    font-family: LeituraSansGrot2;
}

.send-msg-button {
    font-size: 30px;
    color: whitesmoke;
    margin-top: 8px;
}

.user-fav-pic {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid lightgray;
}

.fav-online {
    font-size: 11px;
    font-family: LeituraSansGrot2;
}

.online-txt {
    color: green;
}

.offline-txt {
    color: lightgray;
}

.verified-user-fav {
    width: 20px;
    position: absolute;
    right: 5px;
    top: 42px;
}

.left-menu-pic {
    max-width: 47px!important;
    max-height: 47px!important;

}

.male {
    border: 3px solid #00BDB3;
}
.female {
    border: 3px solid #ff6281;
}

.add-pics-link {
    color: white!important;
    font-size: 15px;
}

.add-pic-info {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
}

.profile-empty-container {
    position: absolute;
    left: 50%;
    margin-left: -97px;
    top: 50%;
    margin-top: -85px;
}

.row-pictures {
    width: 100%;
    padding: 0 5px!important;
    margin-top: -5px!important;
}

.row-pictures .col-33 {
    padding: 2px;
    text-align: center;
}

.plus-btn {
    border: 3px double rgba(128, 0, 0, 0.13);
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
}

.minus-btn {
    border: 3px double white;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
}

.row-pictures .button-icon {
    font-size: 17px;
    background: salmon;
    color: white;
    min-height: 25px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    line-height: 0;
    padding-left: 3px;
}

.preview-pic-container span {
    position: absolute;
    margin-left: 15px;
    font-size: 23px;
    margin-top: 13px;
    font-family: LeituraSansBold;
    color: whitesmoke;
}

.action-sheet-title {
    font-size: 18px;
    font-weight: bolder;
}

.ion-funnel {
    position: absolute;
    right: 5px;
    top: 3px;
}

.button.button-icon.icon.ion-funnel:before {
    font-size: 25px;
    color: gray;
}

.button.button-icon.icon.ion-android-favorite-outline.button-like:before {
    font-size: 37px;
    margin-top: 4px;
}

.button.button-icon.button-clear.ion-close-round:before, .button.button-icon.button-clear.ion-checkmark-round:before {
    font-size: 25px;
}

.def-spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -65px;
}

.matching-spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -96px;
    margin-top: -75px;
}

.default-spinner.spinner svg {
    width: 40px;
    height: 40px;
    stroke: whitesmoke;
    fill: whitesmoke;
}

.no-data-container {
    font-size: 16px;
    color: whitesmoke;
    padding-top: 50%;
    text-align: center;
}

.is-match-popup {
    text-align: center;
}

.is-match-popup .popup-head {
    display: none;
}

.is-match-popup .popup {
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    background: rgba(47, 47, 47, 0.95);
    color: lightgray;
}

.match-popup-headline {
    text-align: center;
    font-family: LeituraSansGrot3;
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0 10px;
}

.popup-body .button.button-balanced.button-outline {
    border-color: #00BDB3;
    background: transparent;
    color: #00BDB3;
}

.popup-body .button.button-balanced.button-outline.active, .popup-body .button.button-balanced.button-outline.activated {
    background-color: #00BDB3;
    color: white;
}

.match-popup-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.profile-info-bg {
    width: 100%;
    background: #F3F3F3;
    color: #3E3E3E;
    padding: 5px 5px 90px 5px;
}

.view-more-btn {
    position: absolute;
    right: 10px;
    font-size: 30px;
    top: 60%;
    color: #6F6D6D;
}

.btns-likedislike-cont {
    position: fixed;
    bottom: 0;
    padding-bottom: 15px;
    -webkit-box-shadow: inset 0px -30px 45px -17px rgba(128,128,128,1);
    -moz-box-shadow: inset 0px -30px 45px -17px rgba(128,128,128,1);
    box-shadow: inset 0px -30px 45px -17px rgba(128,128,128,1);
}

.button-like-profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: right;
    background: #00BF61;
    text-align: center;
    z-index: 10;
    color: whitesmoke;
    padding-top: 4px;
}

.button-dislike-profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    background: #FF4842;
    text-align: center;
    z-index: 10;
    color: whitesmoke;
}

.button-msg-profile {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #00BDB3;
    /*background: #ff6281;*/
    text-align: center;
    z-index: 10;
    color: whitesmoke;
    margin-top: 7px;
}

.button-like-profile.icon:before {
    font-size: 32px;
}

.row-divider {
    border-bottom: 1px solid #B9B9B9
}

.row-divider .slider {
    padding-top: 25px;
}

.row-divider .slider-pager {
    position: absolute;
    top: -2px;
    right: 0;
    width: auto;
}

.popover {
    height: 55px;
}

.button-full {
    margin-top: 0!important;
}

.platform-ios .popover .scroll-content {
    margin: 2px 0;
}

.report-dialog-icon {
    font-size: 40px;
}
.report-popup-headline {
    text-align: center;
    font-family: LeituraSansGrot3;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 0 5px;
}

.profile-info-bg .button.icon:before {
    line-height: 10px;
}

.profile-info-bg a.button {
    line-height: 10px;
    min-height: 30px;
    padding-left: 0;
    margin-right: 10px;
}

.search-divider {
    width: 100%;
    height: 1px;
    margin-top: 12px;
    background: rgba(211,211,211,0.3);
}

.search-container {
    margin: 0 10px;
    background: transparent;
    padding-top: 10px;
}

.search-container.list-inset .item.item-input input {
    padding-right: 10px;
}

.search-container input {
    padding-left: 12px;
    padding-bottom: 5px;
}

.search-container input::-webkit-input-placeholder {
    color: gray;
}

.search-container input:-moz-placeholder { /* Firefox 18- */
    color: gray;
}

.search-container input::-moz-placeholder {  /* Firefox 19+ */
    color: gray;
}

.search-container input:-ms-input-placeholder {
    color: gray;
}

.login-inputs-container .ion-eye, .login-inputs-container .ion-eye-disabled {
    position: absolute;
    right: 0;
    bottom: -5px;
    color: white;
}

.bottom-btn {
    padding: 10px;
    position: absolute;
    bottom: -10px;
}

.addpics-title {
    padding-bottom: 15px;
    color: white;
    font-size: 17px;
    text-align: center;
}

.matching-pic-container .default-spinner {
    position: absolute;
    top: 25%;
    left: 45%;
}

.profile-desc-icon .icon {
    font-size: 20px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.about-me-desc {
    margin-top: 5px;
}

.pics-grid-container {
    background: #2A363C;
}

.square-thumbnail {
    width:25%;
    height:25vw;
    /*margin:1%;*/
    float:left;
    border: 1px solid rgba(0, 0, 0, 0.30);
    font-size: 25px;
    text-align: center;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position-y: 50%!important;
}

.square-thumbnail i {
    position: relative;
    top: 31%;
}

.grid-fullscreen-container {
    background: black;
}

.grid-fullscreen-container .ion-close-round {
    position: absolute;
    right: 5px;
    top: 15px;
    z-index: 5;
}

.thumbnail-container {
    padding: 5px;
}

.fullscreen-img {
    background-repeat: no-repeat!important;
    background-size: contain!important;
    background-position-y: 50%!important;
    height: 100%;
}

.myprofile-info-bg .item {
    background-color: transparent;
    border-color: transparent;
}

#profile-menu-icon {
    display: block!important;
}

.sm-profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: red;
}

.no-messages-container {
    position: absolute;
    left: 50%;
    margin-left: -128px;
    top: 50%;
    margin-top: -120px;
    text-align: center;
}

.no-messages-container p {
    text-align: center;
    color: white;
}

#chat-window {
    bottom: 60px;
    overflow: scroll!important;
}

.coffe-icon-container {
    width: 80px;
    height: 80px;
    border: 3px solid white;
    border-radius: 50%;
    font-size: 70px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -40px;
    padding: 0 13px;
}

.ion-ios-chatboxes-outline:hover {
    color: whitesmoke!important;
}

.edit-img-profile {
    max-width: 27vw;
    max-height: 27vw;
    width: 27vw;
    height: 27vw;
}

.main-img-profile {
    max-width: 59vw;
    max-height: 59vw;
    width: 59vw;
    height: 59vw;
}

.upload-progress {
    width: 19vw;
    height: 6px;
    background: #00BDB3;
    position: absolute;
    top: 31vw;
}

.verified-icon-list {
    font-size: 18px;
    color: green;
    margin-left: 7px;
    position: relative;
    bottom: 1px;
}

.profile-info-bg .default-spinner.spinner svg {
    width: 40px;
    height: 40px;
    stroke: gray;
    fill: gray;
}

.user-photo-thumbnail {
    width: 32%;
    height: 32vw;
    max-height: 32vw!important;
    margin: 0.66vw;
    float: left;
    /*border: 1px solid rgba(0, 0, 0, 0.30);*/
    font-size: 25px;
    text-align: center;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position-x: 50%!important;
    background-position-y: 50%!important;
}

.grid-fullscreen-container .ion-ios-trash {
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -20px;
    color: white;
    font-size: 25px;
    width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.12);
}

.delete-photo-popup {
    text-align: center;
}

.delete-photo-popup .popup-head {
    display: none;
}

.delete-photo-popup .popup {
    padding: 10px 10px 0 10px;
    background: rgba(47, 47, 47, 0.95);
    color: lightgray;
}

.delete-photo-header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.delete-photo-popup .button-dark {
    border-radius: 0;
}

.notification-container {
    width: 95%;
    height: 55px;
    position: absolute;
    bottom: 0;
    background: #c7c7c7;
    margin: 10px;
    font-size: 17px;
    border-radius: 5px;
    z-index: 20;
    outline: none;
}
.notification-container .col-20 {
    padding-left: 0;
}
.notification-container .col-80 {
    padding-top: 13px;
}

.notif-photo {
    width: 50px;
    height: 50px;
    margin: 2px;
    background-size: contain;
    background-repeat: no-repeat;
}

.search-form {
    height: 62px;
    background-color: rgb(58, 58, 58);
}

.ion-trash-b {
    position: absolute;
    right: 3px;
    bottom: 4px;
    color: lightgray;
}
.ion-trash-b::before {
    font-size: 28px!important;
}

.num-selected-elems {
    font-size: 17px;
    margin-top: 8px;
    margin-left: 10px;
    font-weight: bold;
}

/* CSS to create the pink bg on matching view */
/*
div{
    width:50%;
    height:300px;
    position:relative;
    overflow:hidden;
}
div:before{
    content:'';
    position:absolute;
    bottom:80%;
    width:100%;
    height: 60%;
    border-radius:60%;
    box-shadow: 0px 300px 0px 300px #448CCB;
}
*/





















/* Styles for multi-range input (double slider) */

ui-multi-range {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    height: 50px;
}
ui-multi-range input[type=range] {
    position: absolute;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 2px;
    overflow: hidden;
    border: 0;
    border-radius: 1px;
    outline: none;
    pointer-events: none;
}
ui-multi-range input[type=range]:active, ui-multi-range input[type=range]:focus {
    outline: none;
}
ui-multi-range input[type=range]::-webkit-slider-thumb {
    position: relative;
    cursor: pointer;
    pointer-events: all;
}
ui-multi-range input[type=range]::-webkit-slider-thumb::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 13px;
    left: 100%;
    width: 2000px;
    height: 2px;
}
ui-multi-range input[type=range]:nth-child(2) {
    background: none;
}
ui-multi-range input[type=range]:nth-child(2)::-webkit-slider-thumb::before {
    background-color: #ccc;
}
