@font-face {
    font-family: LeituraSansGrot;
    src: url("../fonts/LeituraSans-Grot%201.otf") format("opentype");
}

@font-face {
    font-family: LeituraSansBold;
    src: url("../fonts/LeituraSans-Grot%204.otf") format("opentype");
}

html, body, h2 {
    font-family: LeituraSansGrot;
}

p {
    text-align: justify;
    margin: 0;
}

.login-container {
    font-family: LeituraSansGrot;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 25px 40px;
    background: url("../img/bg-img-couple.png") no-repeat 50%;
    background-size: cover;
    letter-spacing: 1px;
    /*
    background: rgba(0,189,179,1);
    background: -moz-linear-gradient(top, rgba(0,189,179,1) 0%, rgba(255,98,129,1) 77%, rgba(255,98,129,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,189,179,1)), color-stop(77%, rgba(255,98,129,1)), color-stop(100%, rgba(255,98,129,1)));
    background: -webkit-linear-gradient(top, rgba(0,189,179,1) 0%, rgba(255,98,129,1) 77%, rgba(255,98,129,1) 100%);
    background: -o-linear-gradient(top, rgba(0,189,179,1) 0%, rgba(255,98,129,1) 77%, rgba(255,98,129,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,189,179,1) 0%, rgba(255,98,129,1) 77%, rgba(255,98,129,1) 100%);
    background: linear-gradient(to bottom, rgba(0,189,179,1) 0%, rgba(255,98,129,1) 77%, rgba(255,98,129,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bdb3', endColorstr='#ff6281', GradientType=0 );
    */
}

.gradient-bg {
    background: rgba(0,189,179,1);
    background: -moz-linear-gradient(top, rgba(0,189,179,1) 0%, rgba(255,98,129,1) 77%, rgba(255,98,129,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,189,179,1)), color-stop(77%, rgba(255,98,129,1)), color-stop(100%, rgba(255,98,129,1)));
    background: -webkit-linear-gradient(top, rgba(0,189,179,1) 0%, rgba(255,98,129,1) 77%, rgba(255,98,129,1) 100%);
    background: -o-linear-gradient(top, rgba(0,189,179,1) 0%, rgba(255,98,129,1) 77%, rgba(255,98,129,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,189,179,1) 0%, rgba(255,98,129,1) 77%, rgba(255,98,129,1) 100%);
    background: linear-gradient(to bottom, rgba(0,189,179,1) 0%, rgba(255,98,129,1) 77%, rgba(255,98,129,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bdb3', endColorstr='#ff6281', GradientType=0 );
}

.slogan span {
    font-size: 30px;
    line-height: 30px;
}

.logo-container, .slogan {
    margin-bottom: 15px;
    text-align: center;
}

.button-login {
    width: 100%;
    height: 45px;
    background: rgba(120, 54, 67, 0.78);
    padding: 15px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 16px;
    opacity: 0.92;
}

.button-signup {
    width: 100%;
    height: 45px;
    background: rgba(120, 54, 67, 0.78);
    padding: 15px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
    opacity: 0.92;
}

.facebook-button {
    margin-bottom: 5px;
}

.button-login:active {
    background: rgba(88, 178, 167, 0.77);
}

.button-login i {
    font-size: 25px;
    position: relative;
    bottom: 5px;
}

.button-login span {
    position: relative;
    bottom: 8px;
    left: 5px;
}

.button-container a {
    text-decoration: none;
    color: white;
    font-family: LeituraSansBold;
}


/* basic stylings ------------------------------------------ */
.login-inputs-container 		{
    font-family: LeituraSansGrot;
    width:100%;
    padding:10px 0;
    box-sizing:border-box;
}

/* form starting stylings ------------------------------- */
.group 			  {
    position:relative;
    margin-bottom: 40px;
}
.group input {
    font-size: 18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid white;
    color: white;
    background: transparent;
}
.group input:focus 		{ outline:none; }

label {
    color: white;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    margin-left: -50px;
    left: 50%;
    top: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

label.left-labels {
    left: 5px;
    margin-left: 0;
}

/* active state */
.group input:focus ~ label, .group input:valid ~ label {
    top:-20px;
    font-size:14px;
    /*margin-left: -40px;*/
}

/* BOTTOM BARS ================================= */
.bar-input 	{ position:relative; display:block; width:300px; }
.bar-input:before, .bar-input:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar-input:before {
    left:50%;
}
.bar-input:after {
    right:50%;
}

/* active state */
.group input:focus ~ .bar-input:before, .group input:focus ~ .bar-input:after {
    width:50%;
}

.signup-form .group {
    margin-bottom: 30px;
}

ion-item i {
    margin-right: 10px;
}

.item-icon-left ion-spinner {
    float: left;
    margin-left: -2.7em;
    margin-top: -0.2em;
}

.spinner svg {
    width: 28px;
    height: 28px;
    stroke: #999;
    fill: #999;
}

.loading-container .loading {
    padding: 20px 20px 10px 15px;
}

.item-icon-left {
    padding-left: 45px;
}

.item-no-icon-left {
    padding-left: 5px;
}

.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.col-30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    padding-left: 10px;
}

.col-45 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
    padding-right: 10px;
}

.col-70 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

.combobox {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid white;
    margin-bottom: 25px;
}

.combobox:after {
    position: relative;
    top: 15px;
    right: 5px;
    float: right;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: white;
    content: "";
    pointer-events: none;
}

.combobox select {
    font-family: LeituraSansGrot;
    color: white;
    font-size: 18px;
    padding: 5px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.terms {
    text-align: center;
    font-size: 11px;
    margin-bottom: 20px;
}

.bottom-link {
    font-size: 14px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -100px;
}

.login-container .scroll {
    transform: none!important;
}

.verified-profile-icon {
    position: relative;
    left: 40px;
    top: 55px;
    width: 18px!important;
}

.facebook-button-container{
    padding: 35px 35px 0 35px;
}

.button-positive {
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.button-positive span {
    font-family: Arial;
    font-weight: 600;
    font-size: 14px;
    margin-top: 4px;
    text-align: center;
}

.privacy-header {
    padding: 25px 45px 5px 45px;
    height: 70px;
}

.privacy-header img {
    float: left;
    margin-left: -10px;
    margin-right: 5px;
    position: relative;
    bottom: 10px;
}

.privacy-header span {
    font-size: 23px;
    color: #929292;
    margin-top: 10px;
}

hr {
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    border-bottom: 1px;
    color: #929292;
}

.privacy-text {
    padding: 10px 45px 0 45px;
}

.privacy-text span {
    color: #929292;
    font-size: 13px;
}

.forgot-password-link {
    text-align: right;
    margin-bottom: 15px;
    margin-top: 5px;
}

.forgot-password-link a {
    color: white;
    text-decoration: none;
}

.match-container {
    font-family: LeituraSansGrot;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url("../img/bg-match.jpg") no-repeat 50%;
    background-size: cover;
}

.info-section-container {
    width: 100%;
    height: 50%;
    background: url("../img/image_profile.png") no-repeat 50%;
    position: absolute;
    bottom: 0;
}

.photo-section-container {
    width: 100%;
    height: 50%;
}

.top-name-container {
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.btn-profile {
    background: url("../img/profile.svg") no-repeat;
    float: left;
    width: 41px;
    height: 41px;
}

.btn-more-pics {
    background: url("../img/images.svg") no-repeat;
    float: right;
    width: 41px;
    height: 41px;
}

.top-name-container .button {
    color: white;
}

.online-icon {
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 5px;
    position: relative;
    left: 17px;
    top: 16px;
}

.verified-icon {
    width: 16px;
    height: 12px;
    background: url("../img/verified.svg") no-repeat;
    position: relative;
    left: 8px;
    top: 15px;
}

.circular-profile-pic {
    height: 187px;
    background: url("../img/user-pic.jpg") center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 15px #000;
}

.circular-pic-container {
    width: 100%;
    height: 80%;
    padding: 0 15px;
}

.scroll {
    transform: translate3d(0px, 0px, 0px) scale(1)!important;
    height: 100%;
}

.info-section-container .row {
    padding: 15px 15px 0;
    margin-top: 15%;
}

@media only screen and (min-height: 568px) {
    .info-section-container .row {
        margin-top: 12%;
    }
}

@media only screen and (min-height: 736px) {
    .info-section-container .row {
        margin-top: 15%;
    }
}

.button-like {
    width: 120px;
    height: 46px;
    font-size: 35px;
    padding: 6px;
    border-radius: 23px;
    float: left;
    margin-left: 5px;
    background: #00BF61;
}

.button-dislike {
    width: 120px;
    height: 46px;
    font-size: 37px;
    padding: 4px;
    border-radius: 23px;
    float: right;
    margin-right: 5px;
    background: #FF4842;
}

.btn-skip-profile {
    background: url("../img/skip.svg") no-repeat;
    float: right;
    width: 56px;
    height: 55px;
    margin-right: 5px;
    position: relative;
    top: 130px;
}

.btn-undo-action {
    background: url("../img/back.svg") no-repeat;
    float: left;
    width: 56px;
    height: 55px;
    margin-left: 5px;
    position: relative;
    top: 130px;
}

.item, .item-content, .menu {
    background-color: #161616!important;
    border-color: black!important;
    color: white!important;
}

.item h2 {
    color: white;
}

.item b {
    font-size: 13px;
    position: relative;
    bottom: 2px;
}

.item .ion-android-favorite-outline:before {
    color: #E6423C;
    font-weight: bold;
}

.item .ion-ios-chatbubble-outline:before {
    color: #019557;
    font-weight: bold;
}

i.ion-ios-chatbubble-outline {
    margin-left: 25px;
}

.item .ion-gear-a {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.ion-navicon, .bar.bar-stable .title {
    color: white!important;
}

.bar.bar-stable, ion-header-bar {
    background: #161616 none!important;
    color: white!important;
}

.messages-row {
    height: 77px;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.messages-row img {
    width: 56px;
    border-radius: 28px;
}

.row + .row {
    margin-top: 0;
    padding-top: 10px;
}

.msg-date {
    font-size: 10px;
    position: relative;
    top: 15px;
}

.no-favorite-msg {
    font-size: 23px;
    color: white;
}

.favorite-msg {
    font-size: 23px;
    color: #FFB932;
}

.msg-user {
    font-size: 18px;
    font-weight: bold;
}

.status-icon-sm {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin: 6px 0 0 5px;
}

.online {
    background: limegreen;
}

.offline {
    background: lightgray;
}

.msg-lastmsg {
    color: white;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 180px;
    display: block;
    overflow: hidden;
}

@media only screen and (min-width: 320px) {
    .msg-lastmsg {
        width: 160px;
    }
}

@media only screen and (min-width: 375px) {
    .msg-lastmsg {
        width: 185px;
    }
}

@media only screen and (min-width: 414px) {
    .msg-lastmsg {
        width: 210px;
    }
}

.messages-row .row {
    padding-left: 0;
}

.unread-msg {
    font-family: LeituraSansBold;
}

.messages-row:active {
    background: rgb(10, 189, 160);
}

.messages-row .col-25 {
    max-width: 70px;
}

.messages-row .text-right {
    margin-right: 5px;
}

.top-bar-logo {
    position: absolute;
    left: 50%;
    margin-left: -55px;
}

.bar-header a.ion-android-search {
    position: absolute;
    right: 3px;
    bottom: 5px;
    color: white;
}

.tabs .tab-item .badge.badge-assertive, .badge.badge-assertive {
    padding: 5px 10px;
    top: 13px;
    right: 25px;
    font-size: 15px;
}

ion-header-bar .ion-android-search:before {
    font-size: 27px!important;
}

.ion-navicon:before {
    font-size: 38px!important;
}

.location-row {
    padding: 0 20px!important;
    margin-top: 0!important;
}

.location-row .ion-location {
    font-size: 25px;
}

.location-row span {
    font-size: 18px;
    margin: 5px 0 0 8px;
}

.top-name-container .button-icon .icon:before, .button-icon.icon:before {
    font-size: 25px;
    margin-top: 1px!important;
}